.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  position: fixed;
            .chat-side__header{
              height: 100px;
              width: 100%;
              background-color: #253141;
              float: left;
              padding: 0 20px;
              box-sizing: border-box;
                        .user-name{
                          width: 100%;
                          height: 30px;
                          font-weight: bold;
                          color: white;
                          float: left;
                          margin-top: 40px;
                                    .user-menu {
                                      display: inline-block;
                                      float: right;
                                      .list {
                                        display: inline-block;
                                      }
                                      .icon {
                                        color: white;
                                        font-size: 20px;
                                      }
                                    }
                        }
                        
            }
            .chat-side__groups{
              height: calc(100% - 100px);
              width: 100%;
              background-color: #2f3e51;
              float: left;
              padding: 20px 20px;
              box-sizing: border-box; 
                              .groups__boxes{
                                height: 71px;
                                width: 100%;
                                            .group-name{
                                              height: 15px;
                                              font-size: 15px;
                                              width: 100%;
                                              color: #ffffff;
                                              font-weight: bold;
                                            }
                                            .new-message{
                                              height: 11px;
                                              font-size: 11px;
                                              width: 100%;
                                              color: #ffffff;
                                              font-weight: bold;
                                              margin-top: 5px;
                                              margin-bottom: 40px;
                                            }
                              }
              }
}

@mixin contents_width{
  box-sizing: border-box; 
  padding: 0 40px;
  width: 100%;
}

.contents{
  background-color: #fafafa;
  height: 100vh;
  float: right;
  width: calc(100% - 300px);
          .contents__member{
              height: 100px;
              width: 100%;
              background-color: white;
              float: left;
              border-bottom: solid 1px #eee;
              @include contents_width;
              position: fixed;
                          .contents__member_current-group{
                            height: 20px;
                            width: 200px;
                            float: left;
                            margin-top: 35px;
                            bottom: 0%;
                                        .group-name{
                                        height: 20px;
                                        color: #333333;
                                        float: left;
                                        width: 200px; 
                                        font-size: 20px;
                                        }
                                        .member-name{
                                          padding-top: 15px;
                                          height: 12px;
                                          font-size: 12px;
                                          color: #999999;
                                          line-height: 12px;
                                          width: 200px;
                                        }
                          }
                          .button{  
                            height: 40px;
                            margin-top: 30px;
                            color: #38AEF0;
                            line-height: 40px;
                            float: right;
                            padding: 0 20px;
                            right: 320px;
                            border: 1px solid #38AEF0;
                            position: absolute;
                          }   
                
          }                
        .contents__main{
              height:100%;
              float: right;
              padding: 46px 40px;
              margin-top: 100px;
              background-color: #fafafa;
              box-sizing: border-box; 
              width: 100%;
                          .message{
                            min-height: 40px;
                            padding-bottom: 40px;
                                  .message__upper{
                                    display: flex;
                                        .upper__name{
                                          font-weight: bold;
                                          color: #434A54;
                                          font-size: 16px;
                                        }
                                        .upper__date{
                                          color: #999999;
                                          font-size: 12px;
                                          padding-left: 10px;
                                        }
                                        
                                  }
                                  .message__text{
                                    height: 14px;
                                    font-size: 14px;
                                    color: #434A54;
                                    margin-top: 10px;
                                  }
                          }
          }
          
          .contents__form {
            background-color: #DDDDDD;
            box-sizing: border-box;
            position: fixed;
            bottom: 0;
            width: calc(100% - 300px);
            height: 90px;
            padding: 20px 50px 20px 40px;
                            &__message {
                              float: left;
                              border: none;
                              padding: 0 0 0 10px;
                              height: 50px;
                              width: calc(100% - 150px);
                            }
                            &__mask {
                              background-color: white;
                              height: 50px;
                              &__image {
                                font-size: 20px;
                                line-height: 50px;
                              }
                              .hidden {
                                display: none;
                              }
                            }
                            &__submit {
                              background-color: #38AEF0;
                              border: none;            
                              color: white;
                              font-size: 16px;
                              height: 50px;
                              float: right;
                              margin-left: 15px;
                              padding: 0 30px;
                            }
           }
}